<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">

		<title>Conode</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	</head>
	<body>
		<div class="container">
			<div class="nav">
				<div class="nav-left">
					<h3 id="logo"><a href="/">Conode</a></h3>
				</div>
				<div class="nav-right">
					<p id="logo"><a href="/projects/create">Create a project</a></p>
				</div>
			</div>

			<div id="head">
				<h1>Collaborative project-based programming.</h1>
				<h5 class="secondary-text">Find like-minded people to make projects and explore programming with.</h5>
			</div>

			<div id="projects">
				{{#each projects}}
				<div class="project box">
					<a href="/projects/{{_id}}">
						<h6>{{title}}</h6>
						<img src="{{image}}"/>
						<p>{{description}}</p>
					</a>
				</div>
				{{/each}}
			</div>

			<h3 id="feature-heading">Features</h3>
			<div id="features">
				<div class="feature box">
					<p>A platform to share project specifications and courses.</p>
					<p class="secondary-text">
						Let your creativity free and share project
						ideas for other programmers to implement. See what other people
						have created using your project or course as inspiration.
						Perfect for programmers.
					</p>
				</div>

				<div class="feature box">
					<p>Create or join teams of like-minded programmers.</p>
					<p class="secondary-text">
						After finding the ideal project, join an
						existing team or create your own. Find other people to work with
						or invite people you already know.
					</p>
				</div>

				<div class="feature box">
					<p>Work with your team and explore the world of programming.</p>
					<p class="secondary-text">
						Collaborate with your team of programmers
						and begin working. A built-in chat system will bring your team
						members together to communicate plans and progress.
					</p>
				</div>

				<div class="feature box">
					<p>Open to programmers of all skill levels.</p>
					<p class="secondary-text">
						Browse a rich library of original,
						user-generated projects to find the perfect one. From absolute
						beginners to the well-seasoned veteran, take project-specific
						surveys to find where you stand.
					</p>
				</div>

				<div class="feature box">
					<p>Designed for education.</p>
					<p class="secondary-text">
						A beautiful interface and carefully designed
						courses helps guide new programmers through their journey. Teachers
						can create private projects which students can join teams in.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
