<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">

		<title>Conode</title>

		<link rel="stylesheet" type="text/css" href="./css/styles.css"/>
		<link rel="stylesheet" type="text/css" href="./css/signUp.css"/>
	</head>
	<body>
		<div class="container box" id="signup">
			<h3>Sign up for free</h3>
			<div class="form">
				<input type="text" name="username" placeholder="Username" required>
				<input type="text" name="email" placeholder="Email address" required>
				<input type="password" name="password" placeholder="Password" required>
				<button>Sign Up</button>

			</div>
		</div>
	</body>
</html>