<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<title>Conode</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/styles.css" />
	<link rel="stylesheet" type="text/css" href="./css/signUp.css" />
</head>

<body>

	<div class="container">
		<div class="nav">
			<div class="nav-left">
				<h3 id="logo"><a href="./index.html">Conode</a></h3>
			</div>

			<div class="nav-right">
				<p id="logo"><a href="./login.html">Login</a></p>
				<p id="logo"><a href="./signUp.html">Sign Up</a></p>
			</div>
		</div>
		<div class="form box">
			<h3>Sign up for free</h3>
			<input type="text" name="username" placeholder="Username" required>
			<input type="text" name="email" placeholder="Email address" required>
			<input type="password" name="password" placeholder="Password" required>
			<button>Sign Up</button>

		</div>
	</div>
</body>

</html>