#title {
	font-size: 48.83px;
}

#description {
	font-size: 20px;
}

#author {
	font-size: 31.25px;
}

input, textarea {
	width: 100%;
	padding: 0;
	background-color: transparent;
	border: none;
	color: #FFFFFF;
	overflow: hidden;
}

textarea {
	resize: none;
	font-size: 20px;
	font-family: "Inconsolata", monospace;
}
