.nav {
	margin-bottom: 100px;
}

#head {
	margin-bottom: 100px;
	text-align: center;
}

.container {
	margin-bottom: 100px;
}

#feature-heading {
	margin-top: 50px;
}

#features {
	display: grid;
	grid-template-columns: repeat(auto-fill, 485px);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

#projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, 485px);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

.project a {
	text-decoration: none;
	color: inherit;
}

.project img {
	max-width: 100%;
}
