#project-image {
	max-width: 100%;
}

#forms {
	margin-top: 50px;
	margin-bottom: 50px;
}

.topic {
	display: inline-block;
	padding: 10px;
}

.tabs {
	padding: 0;
	border-bottom: 1px solid #7680b2;
}

.tab {
	display: inline-block;
	margin-right: 15px;
	border-bottom: 1px solid transparent;
}

.tab:hover {
	cursor: pointer;
}

.tab-active {
	border-bottom-color: #FFFFFF;
}

form input {
	width: 500px;
}
