.nav {
	margin-bottom: 100px;
}

#head {
	display: inline-block;
	width: 60%;
}

#signup {
	display: inline-block;
}

#features {
	display: grid;
	grid-template-columns: repeat(2, 485px);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

.container {
	margin-bottom: 100px;
}

.project a {
	text-decoration: none;
	color: inherit;
}

.project img {
	max-width: 100%;
}



#projects {
	display: grid;
	grid-template-columns: repeat(2, 485px);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

#feature-heading {
	margin-top: 50px;

}