.topic {
	display: inline-block;
	padding: 10px;
}

form {
	display: inline-block;
	margin: 50px;
}

form:first-of-type {
	margin-left: 0;
}

form input {
	width: 300px;
}

form input, form button {
	height: 50px;
	vertical-align: middle;
}
