/* Shared styles */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	color: #FFFFFF;
	background-color: #121521;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: "Poppins", sans-serif;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.box {
	background-color: #2A2F4C
}

.button {
	background-color: #5965A1;
}

.input {
	background-color: #414A76;
}

.secondary-text {
	color: #D4D7E7;
}
