/* Shared styles */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	color: #FFFFFF;
	background-color: #121521;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 48.83px;
}

h2 {
	font-size: 39.06px;
}

h3 {
	font-size: 31.25px;
}

h4 {
	font-size: 25.00px;
}

h5 {
	font-size: 20.00px;
}

h6 {
	font-size: 16.00px;
}

p {
	font-size: 20px;
}

button, input {
	display: block;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	font-size: 16.00px;
}

button {
	background-color: #5965A1;
	color: #D4D7E7;
}

::placeholder {
	color: #D4D7E7;
}

input {
	background-color: #414A76;
	color: #FFFFFF;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.box {
	background-color: #2A2F4C
}

.form button, .form input {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.secondary-text {
	color: #D4D7E7;
}
